[Unit]
RequiresMountsFor=/home
After=network-online.target
Description=launchros

[Service]
Type=forking
User=etri
TimeoutStartSec=0
RemainAfterExit=True
Environment="ROS_MASTER_URI=http://192.168.0.212:11311"
Environment="ROS_IP=192.168.0.212"
ExecStart=/home/etri/scripts/startup_launch.sh
Restart=on-failure
RestartSec=0

[Install]
WantedBy=multi-user.target
